@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto';
  color: #fff;
}

html, body {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* LAYOUT */

.layout {
  max-width: 1200px;
  margin: 0 auto;

}

.main-layout {
  height: 100vh;
  margin-bottom: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

/* NAV */

nav {

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  font-size: 1rem;
  top:0;
  z-index: 11;
}

.navbar-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  padding: 0 24px;
  max-width: 1100px;
}

nav h1 {
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 24px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav .links {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-right: -22px;

  
}



.nav-links {
  display: inline-block;
  margin-left: 40px;
  font-weight: 400;
  padding-bottom: 8px;
  font-size: 24px;
  position: relative;
}


nav .links a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease;
}

nav .links a:hover::before {
  width: 100%;
}

/* SIDEBAR */

.sidebar-container{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  top: 0;
  left: 0;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.close-icon {
  color: #fff;
}

.close-icon{
  
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.mobile-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}


.sidebar-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  list-style: none;
  cursor: pointer;
}


.sidebar-link::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease;
}

/* HERO */

.hero-section {
  margin-bottom: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section-left {
  margin-top: 200px;
  max-width: 750px;
  margin-right: 100px;
}

.hero-title {
  font-size: 76px;
  margin-bottom: 32px;
}

.hero-desc {
  font-size: 40px;
  margin-bottom: 32px;
}

.hero-para {
  font-size: 32px;
  margin-bottom: 32px;
}

.hero-button {
  background-color: rgba(146,43,225,1);
  color: #fff;
  font-size: 24px;
  border-radius: 12px;
  padding: 16px;
  border: none;
  cursor: pointer;
  margin-right: 24px;
}

.hero-button:active {
  transform: scale(1.1);
}

.football-image {
  margin-top: 200px;
  width: 100%;
  min-width: 400px;
  border-radius: 50%;
  outline: 4px solid #fff;
}

.project-title {
  font-size: 48px;
  margin-top: 100px;
  padding-bottom: 24px;
}

.project-image {
  width: 1200px;
  height: 600px;
  border-radius: 50px;
  margin-top: 48px;
  position: relative;
  top: 0;
  
}

.project-container,  .project-container-new {
  width: 1200px;
  background-color: #403F3E;
  height: 600px;  
  margin-top: 48px;
  position: absolute;
  border-radius: 50px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
 
}


#contact-me{
 
  margin-top: 500px;
}

.project-container:hover {
  opacity: 1;
}

.project-text {
  padding: 24px;
}

.project-para {
  margin: 48px 0;
  font-size: 18px;
}

.project-para-title {
  font-size: 32px;
}

.project-link {
  color: blue;
}

.project-container-new {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-para-title-new {
  font-size: 72px;
}

/* CONTACT */


.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p{
  flex-basis: 35%;
  margin-top: 30px;
}
.icons{
  color:  rgba(146,43,225,1);
  margin-right: 15px;
  font-size: 25px;
}

.contact-right {
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.form-button {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/* copyright */

.copyright {
  
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.footer-container {
  width: 100%;
  /* background-color: #101522; */
  padding: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  body {
    padding: 0 30px;
  }

  form input, form textarea{
    width: 75%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
  }
  .main-layout {
    margin-bottom: 24px;
  }

  .project-title {
    font-size: 48px;
    margin-top: 100px;
    padding-bottom: 24px;
  }
  
  .project-image {
    width: 75%;

    border-radius: 50px;
    
    position: relative;
    top: 0;
  }
  
  .project-container,  .project-container-new {
    width: 75%;
    background-color: #403F3E;
    
    position: absolute;
    border-radius: 50px;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .project-container:hover {
    opacity: 1;
  }
  
  .project-text {
    padding: 24px;
  }
  
  .project-para {
    margin: 48px 0;
    font-size: 18px;
  }
  
  .project-para-title {
    font-size: 32px;
  }
  
  .project-link {
    color: blue;
  }
  
  .project-container-new {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-para-title-new {
    font-size: 72px;
  }
}

@media only screen and (max-width: 900px) {
 
  .hero-section {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
      flex-direction: column-reverse;
    justify-content: center;
    
  }
  
  nav .links {
    display:none;
  }
  .hero-section-left {
    margin-top: 24px;
    max-width: 750px;
    margin-right: 100px;
  }
  
  .hero-title {
    font-size: 76px;
    margin: 32px 0;
    
  }
  
  .hero-desc {
    font-size: 40px;
    margin-bottom: 32px;
    
  }
  
  .hero-para {
    font-size: 32px;
    margin-bottom: 32px;
    
  }
  
  .hero-button {
    background-color: rgba(146,43,225,1);
    color: #fff;
    font-size: 24px;
    border-radius: 12px;
    padding: 16px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    margin-right: 24px;
  }
  
  .hero-button:active {
    transform: scale(1.1);
  }
  
  .football-image {
    margin-top: 24px;
    width: 50%;
    min-width: 400px;
    border-radius: 50%;
    outline: 4px solid #fff;
  }

  .contact-left {
    flex-basis: 35%;
  }
  .contact-right {
    flex-basis: 60%;
  }
  
  .contact-left p{
    flex-basis: 35%;
    margin-top: 30px;
  }
  .icons{
    color:  rgba(146,43,225,1);
    margin-right: 15px;
    font-size: 25px;
  }
  
  .contact-right {
    width: 100%;
  }
  

  
  .form-button {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .project-para {
    margin: 24px 0;
    font-size: 12px;
  }
  
}